In [26]:
import pandas as pd
csvframe = pd.read_csv('myCSV_01.csv')
csvframe
print(csvframe)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [27]:
table=pd.read_table('myCSV_01.csv',sep=',')
table

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [28]:
csvframe1 = pd.read_csv('myCSV_02.csv',header=None)
csvframe1

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  2  2  8  3   duck
4  4  4  2  1  mouse

In [29]:
csvframe1=pd.read_csv('myCSV_02.csv', names=['white','red','blue','green','animal'])
csvframe1

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [30]:
csvframe2=pd.read_csv('myCSV_03.csv', index_col=['color','status'])
csvframe2

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4

In [31]:
data=pd.read_table('myCSV_04.txt',sep='\s+')
data

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\YASH SRIVASTAVA\AppData\Local\Temp\ipykernel_30652\650179796.py:1: SyntaxWarning: invalid escape sequence '\s'
  data=pd.read_table('myCSV_04.txt',sep='\s+')

   white  red  blue  green
0      1    5     2      3
1      2    7     8      5
2      3    3     6      7

In [32]:
data=pd.read_table('myCSV_05.txt',sep='\D+')
data

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\YASH SRIVASTAVA\AppData\Local\Temp\ipykernel_30652\3563930122.py:1: SyntaxWarning: invalid escape sequence '\D'
  data=pd.read_table('myCSV_05.txt',sep='\D+')
C:\Users\YASH SRIVASTAVA\AppData\Local\Temp\ipykernel_30652\3563930122.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data=pd.read_table('myCSV_05.txt',sep='\D+')

   000  123  122
0    1  124  321
1    2  125  333

In [33]:
data1=pd.read_table('myCSV_06.txt',sep=',', skiprows=[0,1,3,6])
data1

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [34]:
pd.read_csv('myCSV_02.csv')

   1  5  2  3    cat
0  2  7  8  5    dog
1  3  3  6  7  horse
2  2  2  8  3   duck
3  4  4  2  1  mouse

In [35]:
pd.read_csv('myCSV_02.csv',skiprows=[1],nrows=2)

   1  5  2  3    cat
0  3  3  6  7  horse
1  2  2  8  3   duck

In [36]:
data = {'color' : ['blue','green','yellow','red','white'],
'object' : ['ball','pen','pencil','paper','mug'],
'price' : [1.2,1.0,0.6,0.9,1.7]}
frame=pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [37]:
frame.to_csv('myCSV_04.csv')

In [38]:
frame.to_csv('myCSV_04.csv', header=False,index=False)

In [39]:
import numpy as np
data1 = {'color' : ['blue','green','yellow','red','white'],
'object' : ['ball','pen',np.nan,'paper','mug'],
'price' : [1.2,1.0,0.6,0.9,np.nan]}
frame1=pd.DataFrame(data1)
frame1

    color object  price
0    blue   ball    1.2
1   green    pen    1.0
2  yellow    NaN    0.6
3     red  paper    0.9
4   white    mug    NaN

In [40]:
frame1.to_csv('myCSV_05.csv', na_rep ='2')
frame1

    color object  price
0    blue   ball    1.2
1   green    pen    1.0
2  yellow    NaN    0.6
3     red  paper    0.9
4   white    mug    NaN

In [41]:
import numpy as np, pandas as pd
frame = pd.DataFrame(np.arange(4).reshape(2,2))
frame

   0  1
0  0  1
1  2  3

In [42]:
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [43]:
frame1 = pd.DataFrame( np.random.random((4,4)),
index = ['white','black','red','blue'],
columns = ['up','down','right','left'])
frame1

             up      down     right      left
white  0.713718  0.529426  0.369898  0.455318
black  0.757343  0.333231  0.530622  0.332694
red    0.189875  0.450221  0.282848  0.284819
blue   0.836172  0.433439  0.779445  0.406711

In [44]:
print(frame1.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>up</th>
      <th>down</th>
      <th>right</th>
      <th>left</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>white</th>
      <td>0.713718</td>
      <td>0.529426</td>
      <td>0.369898</td>
      <td>0.455318</td>
    </tr>
    <tr>
      <th>black</th>
      <td>0.757343</td>
      <td>0.333231</td>
      <td>0.530622</td>
      <td>0.332694</td>
    </tr>
    <tr>
      <th>red</th>
      <td>0.189875</td>
      <td>0.450221</td>
      <td>0.282848</td>
      <td>0.284819</td>
    </tr>
    <tr>
      <th>blue</th>
      <td>0.836172</td>
      <td>0.433439</td>
      <td>0.779445</td>
      <td>0.406711</td>
    </tr>
  </tbody>
</table>

In [45]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame1.to_html())
s.append('</BODY></HTML>')
html = ''.join(s)
html_file = open('myFrame.html','w')
html_file.write(html)
html_file.close()

In [46]:
web_frames = pd.read_html('myFrame.html')
web_frames

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [ ]:
from lxml import objectify
xml = objectify.parse('books.xml')
xml
root = xml.getroot()
root

In [ ]:
root.Book.PublishDate

In [ ]:
root.getchildren()

In [ ]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
   ---------------- ----------------------- 41.0/96.5 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 1.1 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
pd.read_excel('data.xls')

   id  value1  value2  value3
0   1     123     1.4      23
1   2     110     0.5      18
2   3     164    21.5      19

In [49]:
pd.read_excel('data.xls','Sheet2')

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [48]:
pd.read_excel('data.xls',1)

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [47]:
import numpy as np, pandas as pd
frame = pd.DataFrame(np.random.random((4,4)),
index = ['exp1','exp2','exp3','exp4'],
columns = ['Jan2015','Fab2015','Mar2015','Apr2005'])
frame

       Jan2015   Fab2015   Mar2015   Apr2005
exp1  0.945880  0.564591  0.212537  0.584515
exp2  0.124983  0.373533  0.582327  0.952948
exp3  0.068639  0.448653  0.910828  0.778536
exp4  0.645966  0.410541  0.285641  0.699948

In [ ]:
pip install openpyxl

In [ ]:
#print(frame)
frame.to_excel(r'datanew.xlsx',index=False)

In [ ]:
frame.to_json('frame.json')

In [ ]:
pd.read_json('frame1.json')

In [ ]:
#from pandas.io.json import json_normalize
from pandas import json_normalize
file = open('books.json','r')
text = file.read()
text
#text = json.loads(text)
#data=json_normalize(text,sep=',')

In [ ]:
import pandas as pd, numpy as np
from pandas.io.pytables import HDFStore

In [50]:
frame5 = pd.DataFrame(np.arange(16).reshape(4,4),
index=['white','black','red','blue'],
columns=['up','down','right','left'])
frame5

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [51]:
store = HDFStore('mydata.h5')
store['obj1'] = frame5
store

NameError: name 'HDFStore' is not defined

In [52]:
frame6 = pd.DataFrame(np.arange(9).reshape(3,3),
index=['white','black','red'],
columns=['up','down','right'])
frame6

       up  down  right
white   0     1      2
black   3     4      5
red     6     7      8

In [53]:
store['obj2'] = frame6
store

NameError: name 'store' is not defined

In [54]:
store['obj2']

UsageError: Unknown variable '['obj2']'

In [55]:
import pickle

In [56]:
data = { 'color': ['white','red'], 'value': [5, 7]}
data

{'color': ['white', 'red'], 'value': [5, 7]}

In [57]:
pickled_data = pickle.dumps(data)
pickled_data

b'\x80\x04\x95/\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x05color\x94]\x94(\x8c\x05white\x94\x8c\x03red\x94e\x8c\x05value\x94]\x94(K\x05K\x07eu.'

In [58]:
nframe = pickle.loads(pickled_data)
nframe

{'color': ['white', 'red'], 'value': [5, 7]}

In [59]:
frame = pd.DataFrame(np.arange(16).reshape(4,4), index = ['up','down','left','right'])
frame

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

In [60]:
frame.to_pickle('frame.pkl')

In [61]:
import pandas as pd
pd.read_pickle('frame.pkl')

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

In [ ]:
from sqlalchemy import create_engine
pip install ipython-sql

In [ ]:
con = Oracle.connect('username/password@localhost')

In [ ]:
os = ('w', 'i', 'n', 'd', 'o', 'w', 's')
os1 = ('w', 'i', 'n', 'd', 'w', 's', 'o')
os<os1

In [ ]:
type((3,))

In [ ]:
tuple_1 = (7,8,9,10,11,12,13)
tuple_1[-1:1:-1]

In [ ]:
A = ("hello",) * 3
print(A)

In [ ]:
number_1 = {1,2,3,4,5}
number_2 = {1,2,3}
number_1.difference(number_2)